// Navigation code here
.top-nav {
    background-color: #f4f4f4;
    width: 76%;
    margin-left: 12%;
    .center-text-column();
    @media @phone {
        width: 100%;
        margin-left: 0px;
    };
    h1 {
        font-size: 3.7em;
        margin-top: 10px;
    }
    nav {
        padding-top: 14px;
        padding-bottom: 16px;
        a {
            text-decoration: none;
            color: black;
            font-size: 17px;
            margin: 7px; 
        }
    }
    
}